<div class="main__container">
  <!-- Header Section-->
  <div class="postDetails__headerSection">
    <!-- Header array icon -->
    <div class="postDetails__headerSectionArrow">
      <fa-icon
        class="postDetails__headerSectionArrowIcon"
        [icon]="arrowIcon"
        (click)="navigateBackToHomePage()"
      ></fa-icon>
    </div>
    <!-- Header Name -->
    <div class="postDetails__headerSectionInfo">Tweet</div>
  </div>

  <!-- Post Section-->
  <!-- <app-post [post]="post" [retrievedImageFromDb]="post.fileContent"></app-post> -->
  <app-post [post]="post"></app-post>

  <!-- Tweetbox Section -->
  <app-tweetbox
    [isPostSection]="isPostSection"
    [postId]="postId"
  ></app-tweetbox>

  <!-- Comemnts loaded with inifnite scroll and loading spinner -->
  <div
    class="search-results"
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    id="scrollbar"
  >
    <!-- Each Comment Block -->
    <ng-container *ngFor="let comment of commentList">
      <app-comment
        [comment]="comment"
        (handleDeleteComment)="handleDeleteComment($event)"
      ></app-comment>
    </ng-container>

    <!-- Loading spinner -->
    <app-loading-spinner
      [notEmptyPage]="notEmptyAnotherCommentPage"
    ></app-loading-spinner>
  </div>
</div>
