.postDetails__headerSection {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid var(--twitter-background);
  display: flex;
}

.postDetails__headerSectionArrow {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.postDetails__headerSectionArrow:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  margin-bottom: 10px;
}

.postDetails__headerSectionArrowIcon {
  font-size: 20px;
  color: var(--twitter-color);
  cursor: pointer;
}

.postDetails__headerSectionInfo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
