<div class="mainPage__component">
  <!-- Progress bar -->
  <div
    class="progressBar__container"
    *ngIf="progressBarService.isLoading | async"
  >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!-- Main Content -->
  <div class="mainPage__container">
    <div class="mainPage__sections">
      <!-- Left Section - Sidebar -->
      <div class="mainPage_leftSection">
        <app-sidebar [isUserLoggedIn]="userIsLoggedIn"></app-sidebar>
      </div>
      <!-- Middle Section - Feed -->
      <div class="mainPage_middleSection">
        <router-outlet></router-outlet>
      </div>
      <!-- Right Section - Widgets -->
      <div *ngIf="router.url !== '/messages'" class="mainPage_rightSection">
        <app-widgets [isUserLoggedIn]="userIsLoggedIn"></app-widgets>
      </div>
    </div>
  </div>
  <!-- Show footer whether user is logged or not -->
  <ng-container
    *ngIf="userIsLoggedIn; then pageWithoutFooter; else pageWithFooter"
  ></ng-container>
  <!-- With footer Section -->
  <ng-template #pageWithoutFooter></ng-template>
  <!-- Without footer Section -->
  <ng-template #pageWithFooter>
    <app-footer></app-footer>
  </ng-template>
</div>
