<div class="mainPage__footer">
  <div class="mainPage__footerInfo">
    <div class="mainPage__footerInfoAbove">Stay Updated</div>
    <div class="mainPage__footerInfoBelow">
      Twitter users are the first to know.
    </div>
  </div>
  <div class="mainPage__footerButtons">
    <button class="mainPage__footerSignInButton" (click)="goToSignInPage()">
      Sign In
    </button>
    <button class="mainPage__footerSignUpButton" (click)="goToSignUpPage()">
      Sign Up
    </button>
  </div>
</div>
