<div class="main__container">
  <!-- Header Section-->
  <div class="tweetDetails__headerSection">
    <!-- Header array icon -->
    <div class="tweetDetails__headerSectionArrow">
      <fa-icon
        class="tweetDetails__headerSectionArrowIcon"
        [icon]="arrowIcon"
        (click)="navigateBackToHomePage()"
      ></fa-icon>
    </div>
    <!-- Header Name -->
    <div class="tweetDetails__headerSectionInfo">Tweet</div>
  </div>

  <!-- tweet Section-->
  <!-- <app-tweet [tweet]="tweet" [retrievedImageFromDb]="tweet.fileContent"></app-tweet> -->
  <app-tweet [tweet]="tweet"></app-tweet>

  <!-- Tweetbox Section -->
  <app-tweetbox
    [isTweetSection]="isTweetSection"
    [tweetId]="tweetId"
  ></app-tweetbox>

  <!-- Comemnts loaded with inifnite scroll and loading spinner -->
  <div
    class="search-results"
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    id="scrollbar"
  >
    <!-- Each Comment Block -->
    <ng-container *ngFor="let comment of commentList">
      <app-comment
        [comment]="comment"
        (handleDeleteComment)="handleDeleteComment($event)"
      ></app-comment>
    </ng-container>

    <!-- Loading spinner -->
    <app-loading-spinner
      [notEmptyPage]="notEmptyAnotherCommentPage"
    ></app-loading-spinner>
  </div>
</div>
