<div class="main__container">
  <!-- Header -->
  <div class="explore__header">
    <div class="explore__searchBar">
      <fa-icon class="explore__searchBarIcon" [icon]="searchIcon"> </fa-icon>
      <input
        class="explore__searchBarInput"
        type="text"
        placeholder="Search Twitter"
      />
    </div>
    <div class="explore__headerSettings">
      <fa-icon
        class="explore__headerSettingsIcon"
        [icon]="settingsIcon"
      ></fa-icon>
    </div>
  </div>
</div>
