<div class="comment__component">
  <!-- Comment Image -->
  <div class="comment__authorImage">
    <img
      style="width: 50px; height: 50px; border-radius: 100%"
      src="{{ profileImage }}"
      alt="user"
    />
  </div>

  <!-- Comment Description -->
  <div class="comment__description">
    <!-- Comment Header -->
    <div class="comment__descriptionHeader">
      <!-- Author -->
      <div class="comment__descriptionHeaderAuthor">{{ comment.name }}</div>
      <!-- Verified -->
      <div class="comment__descriptionHeaderVerified">
        <fa-icon
          class="comment__descriptionHeaderVerified"
          [icon]="verifiedIcon"
        >
        </fa-icon>
      </div>
      <!-- Username -->
      <div class="comment__descriptionHeaderUsername">
        @{{ comment.username }}
      </div>
      <!-- Time added -->
      <div class="comment__descriptionHeaderTime">
        · {{ comment.timeOfCreation }}
      </div>
      <!-- Arrow -->
      <div class="comment__descriptionHeaderMoreOption">
        <fa-icon
          [matMenuTriggerFor]="tweetMenu"
          class="comment__descriptionHeaderMoreOptionIcon"
          [icon]="moreIcon"
        >
        </fa-icon>
        <!-- Menu button options -->
        <mat-menu #tweetMenu="matMenu">
          <button
            mat-menu-item
            *ngIf="checkIfCommentBelongsToLoggedUser()"
            (click)="deleteCommentById(comment.id)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete comment</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <ng-container *ngIf="isTweetReplied">
      <div class="comment__response">
        Replaying to <a>@{{ repliedUser }}</a>
      </div>
    </ng-container>

    <!-- Post Body -->
    <div class="comment__descriptionBody">
      <div class="comment__descriptionBodyText">
        {{ comment.text }}
      </div>
    </div>
    <!-- Tweet/Comment Parameters -->
    <app-tweet-parameters></app-tweet-parameters>
  </div>
</div>
