.comment__response {
  font-size: 14px;
  color: var(--twitter-font-color);
  margin-bottom: 5px;
}
.comment__response > a {
  color: red;
}

.comment__component {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  max-width: 620px;
}

.comment__component:hover {
  background-color: var(--twitter-background);
  cursor: pointer;
}

.comment__authorImage {
  padding: 15px;
}

.comment__description {
  margin-top: 10px;
}

.comment__descriptionBody {
}

.comment__descriptionBodyImageContainer {
  margin-top: 10px;
}

.comment__descriptionBodyImage {
  width: 500px;
  height: 280px;
  border-radius: 30px;
}

.comment__descriptionHeader {
  display: flex;
  margin-bottom: 5px;
  width: 520px;
}

.comment__descriptionHeaderAuthor {
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

.comment__descriptionHeaderVerified {
  color: var(--twitter-color);
  margin-right: 5px;
  margin-top: 1px;
}

.comment__descriptionHeaderUsername {
  font-size: 15px;
  color: gray;
  margin-right: 10px;
}

.comment__descriptionHeaderTime {
  font-size: 15px;
  color: gray;
}

.comment__descriptionHeaderMoreOption {
  cursor: pointer;
  margin-left: auto;
}

.comment__descriptionHeaderMoreOptionIcon {
  font-size: 17px;
  color: gray;
  border: 30px;
  padding: 5px;
  padding-left: auto;
}
.comment__descriptionHeaderMoreOptionIcon:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.comment__descriptionBody {
  margin-right: 30px;
  margin-bottom: 10px;
}
