<div class="mayLikeWidget__container">
  <!-- Header -->
  <h2>You may like it</h2>

  <!-- Body -->
  <div class="mayLikeWidget__account">
    <!-- Image -->
    <img
      class="mayLikeWidget__accountImage"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAsK6oIKzeSCKiqpjv5cuoC4ZC_hJ0FxNkvQ&usqp=CAU"
      alt=""
    />
    <!-- Account -->
    <div class="mayLikeWidget__accountInfo">
      <!-- Name with verify icon -->
      <div class="mayLikeWdiget__accountInfoName">
        Poland.pl
        <fa-icon class="mayLikeWidget__accountIcon" [icon]="verifiedIcon">
        </fa-icon>
      </div>
      <!-- Username -->
      <div class="mayLikeWdiget__accountInfoUsername">@PolandMFA</div>
    </div>
    <div class="mayLikeWidget__button">
      <button>Follow</button>
    </div>
  </div>

  <!-- Body -->
  <div class="mayLikeWidget__account">
    <!-- Image -->
    <img
      class="mayLikeWidget__accountImage"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAsK6oIKzeSCKiqpjv5cuoC4ZC_hJ0FxNkvQ&usqp=CAU"
      alt=""
    />
    <!-- Account -->
    <div class="mayLikeWidget__accountInfo">
      <!-- Name with verify icon -->
      <div class="mayLikeWdiget__accountInfoName">
        Poland.pl
        <fa-icon class="mayLikeWidget__accountIcon" [icon]="verifiedIcon">
        </fa-icon>
      </div>
      <!-- Username -->
      <div class="mayLikeWdiget__accountInfoUsername">@PolandMFA</div>
    </div>
    <div class="mayLikeWidget__button">
      <button>Follow</button>
    </div>
  </div>

  <!-- Body -->
  <div class="mayLikeWidget__account">
    <!-- Image -->
    <img
      class="mayLikeWidget__accountImage"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAsK6oIKzeSCKiqpjv5cuoC4ZC_hJ0FxNkvQ&usqp=CAU"
      alt=""
    />
    <!-- Account -->
    <div class="mayLikeWidget__accountInfo">
      <!-- Name with verify icon -->
      <div class="mayLikeWdiget__accountInfoName">
        Poland.pl
        <fa-icon class="mayLikeWidget__accountIcon" [icon]="verifiedIcon">
        </fa-icon>
      </div>
      <!-- Username -->
      <div class="mayLikeWdiget__accountInfoUsername">@PolandMFA</div>
    </div>
    <div class="mayLikeWidget__button">
      <button>Follow</button>
    </div>
  </div>

  <!-- Footer -->
  <div class="mayLikeWidget__footer">Show more</div>
</div>
