.messagesChat__container {
  display: flex;
  flex-direction: column;
}

.messagesChat__header {
  position: sticky;
  top: 0;
  height: 60px;
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
  display: flex;
  background-color: white;
}

.messagesChat__name {
  display: flex;
  align-items: center;
  color: var(--twitter-font-color);
  font-weight: 400;
}

.messagesChat__body {
  display: flex;
  /* flex-direction: column; */
  flex-direction: column-reverse;
  padding: 20px 20px 45px 50px;
  overflow: auto;
  height: 818px;
  width: 618px;
}

.messagesChat__message {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  /* background-color: var(--twitter-color); */
  color: white;
  flex-direction: column;
  width: 518px;
}

.messagesChat__messageByLoggedUser {
  align-items: flex-end;
}

.messagesChat__messageContent {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  max-width: 450px;
}

.messagesChat__messageContentByLoggedUser {
  background-color: var(--twitter-color);
}

.messagesChat__messageTime {
  text-align: right;
  color: var(--twitter-font-color);
  font-size: 12px;
  margin-top: 5px;
}

.messagesChat__footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 618px;
  display: flex;
  border-top: 1px solid var(--twitter-background);
}

.messagesChat__iconsContainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.messagesChat__icons {
  color: var(--twitter-color);
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
}

.messagesChat__icons:hover {
  background-color: #e8f5fe;
  border-radius: 100%;
}

.messagesChat__textArea {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--twitter-background);
  border-radius: 20px;
  height: 45px;
  width: 470px;
  align-items: center;
}
.messagesChat__textArea > textarea {
  height: 25px;
  width: 420px;
  margin: auto;
  resize: none;
  outline: none;
  font-size: 14px;
  /* box-sizing: border-box; */
  overflow: auto;
  background-color: transparent;
  border: none;
}

.messagesChat__sendMessage {
  margin: auto;
}

#scrollbar {
  overflow-y: hidden;
  overflow-x: hidden;
}

#scrollbar:hover,
#scrollbar:active,
#scrollbar:focus {
  overflow-y: auto;
}

.search-results {
  height: 80vh;
}
