<div class="messagesChat__container">
  <!-- If coversation is not seelcted then show empty body -->
  <ng-container
    *ngIf="conversation; then selectedConversation; else emptyBody"
  ></ng-container>

  <!-- Empty body -->
  <ng-template #emptyBody>
    <!-- Header Seciton -->
    <div class="messagesChat__header">
      <!-- User name -->
      <div class="messagesChat__name"></div>
    </div>

    <h1>SELECT CONVERSATION</h1>
  </ng-template>

  <!-- Selected conversation -->
  <ng-template #selectedConversation>
    <!-- Header Seciton -->
    <div class="messagesChat__header">
      <!-- User name -->
      <div class="messagesChat__name">
        <!-- Show username and name depending on creator or participant of conversation -->
        <ng-container
          *ngIf="
            loggedUser == conversation.participantUsername;
            then creator;
            else participant
          "
        ></ng-container>
        <!-- If logged user is participant of conversation -->
        <ng-template #creator>
          {{ conversation.creatorName }}, @{{ conversation.creatorUsername }}
        </ng-template>
        <!-- If logged user is creator of conversation -->
        <ng-template #participant>
          {{ conversation.participantName }}, @{{
            conversation.participantUsername
          }}
        </ng-template>
      </div>
    </div>

    <!-- Body Section -->
    <div class="messagesChat__body">
      <!-- <div class="messagesChat__message">
        <div class="messagesChat__messageContent">
          Hello world 1
          <div class="messagesChat__messageTime">14.03.2022</div>
        </div>
      </div>

      <div class="messagesChat__message">
        <div class="messagesChat__messageContent">
          Hello world 2
          <div class="messagesChat__messageTime">13.03.2022</div>
        </div>
      </div> -->

      <!-- Posts loaded with inifnite scroll and loading spinner -->
      <div
        #messsageContainer
        class="search-results"
        infiniteScroll
        [scrollWindow]="false"
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolledUp)="onScroll()"
        id="scrollbar"
      >
        <!-- Loading spinner -->
        <app-loading-spinner
          [notEmptyPage]="notEmptyAnotherTweetPage"
        ></app-loading-spinner>
        <!-- Each Message Block -->
        <div
          *ngFor="let message of messageList"
          class="messagesChat__message"
          [ngClass]="{
            messagesChat__messageByLoggedUser: messageFromLoggedUser(
              message.senderUsername
            )
          }"
        >
          <div
            class="messagesChat__messageContent"
            [ngClass]="{
              messagesChat__messageContentByLoggedUser: messageFromLoggedUser(
                message.senderUsername
              )
            }"
          >
            {{ message.content }}
            <div class="messagesChat__messageTime">
              {{ message.createdAt }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <div class="messagesChat__footer">
      <!-- Add picture of gif icons -->
      <div class="messagesChat__iconsContainer">
        <fa-icon class="messagesChat__icons" [icon]="imageIcon"> </fa-icon>
        <fa-icon class="messagesChat__icons" [icon]="fileImageIcon"> </fa-icon>
      </div>

      <!-- Text area -->
      <div class="messagesChat__textArea">
        <textarea
          [(ngModel)]="message"
          (keyup.enter)="submitMessage($event)"
          placeholder="Text private message..."
        ></textarea>
      </div>
      <div class="messagesChat__sendMessage">
        <fa-icon class="messagesChat__icons" [icon]="sendMessageIcon">
        </fa-icon>
      </div>
    </div>
  </ng-template>
</div>
