.tweetParameter__container {
  display: flex;
  justify-content: space-around;
  color: gray;
}

.tweetParameter__comment {
  padding: 3px;
}

.tweetParameter__shared {
  padding: 3px;
}

.tweetParameter__loved {
  padding: 3px;
}

.tweetParameter__uploaded {
  padding: 3px;
  margin-right: 20px;
}

.tweetParameter__icon {
  font-size: 17px;
  margin-right: 5px;
}

.tweetParameter__comment:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.tweetParameter__shared:hover {
  background-color: rgb(182, 236, 182);
  border-radius: 30px;
  color: rgb(20, 172, 20);
  transition: color 100ms ease-out;
}

.tweetParameter__loved:hover {
  background-color: rgb(236, 195, 195);
  border-radius: 30px;
  color: rgb(240, 82, 82);
  transition: color 100ms ease-out;
}

.tweetParameter__uploaded:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.highlighted {
  color: rgb(240, 82, 82);
}
