<div class="postParameter__container">
  <!-- Comment -->
  <div class="postParameter__comment">
    <fa-icon class="postParameter__icon" [icon]="commentIcon"> </fa-icon>
    <span>{{ commentCount }}</span>
  </div>
  <!-- Shared -->
  <div class="postParameter__shared">
    <fa-icon class="postParameter__icon" [icon]="shareIcon"> </fa-icon
    ><span>0</span>
  </div>
  <!-- Liked -->
  <div class="postParameter__loved" (click)="LikePost($event)">
    <fa-icon
      [class.highlighted]="isPostLiked"
      class="postParameter__icon"
      [icon]="loveIcon"
    >
    </fa-icon>
    <span [class.highlighted]="isPostLiked">{{ likesCount }}</span>
  </div>
  <!-- Uploaded -->
  <div class="postParameter__uploaded">
    <fa-icon class="postParameter__icon" [icon]="uploadIcon"> </fa-icon>
  </div>
</div>
