<div class="profileBlock__component">
  <!-- Profile Image -->
  <img class="profileBlock__image" src="{{ profileImage }}" alt="" />
  <!-- Name -->
  <div class="profileBlock__name">{{ name }}</div>
  <!-- Username -->
  <div class="profileBlock__username">@ {{ username }}</div>
  <!-- Description -->
  <div class="profileBlock__description">
    {{ description }}
  </div>
  <!-- Following No -->
  <div class="profileBlock__following">
    <strong>{{ followingNo }}</strong> following
  </div>
  <!-- Followers No -->
  <div class="profileBlock__followers">
    <strong>{{ followerNo }}</strong> followers
  </div>
</div>
