<div class="main__container">
  <!-- Header -->
  <div class="home__header">
    <div class="home__headerText">Home</div>
    <div class="home__headerIcon">
      <fa-icon [icon]="headerIcon"></fa-icon>
    </div>
  </div>

  <!-- Tweet Box -->
  <ng-container
    *ngIf="userIsLoggedIn; then homeWithTweetBox; else homeWithoutTweetBox"
  ></ng-container>
  <!-- Without TweetBox Section -->
  <ng-template #homeWithoutTweetBox></ng-template>
  <!-- With TweetBox Section -->
  <ng-template #homeWithTweetBox>
    <app-tweetbox [isTweetSection]="isTweetSection"></app-tweetbox>
  </ng-template>

  <!-- Tweets loaded with inifnite scroll and loading spinner -->
  <div
    class="search-results"
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    id="scrollbar"
  >
    <!-- Each Tweet Block -->
    <ng-container *ngFor="let tweet of tweetList">
      <app-tweet
        [tweet]="tweet"
        (handleDeleteTweet)="handleDeleteTweet($event)"
      ></app-tweet>
    </ng-container>
    <!-- Loading spinner -->
    <app-loading-spinner
      [notEmptyPage]="notEmptyAnotherTweetPage"
    ></app-loading-spinner>
  </div>
</div>
