<ng-container>
  <div class="home__post" (click)="navigateToPostDetails()">
    <!-- Post Author Image -->
    <div class="home__postAuthorImage">
      <img
        style="width: 50px; height: 50px; border-radius: 100%"
        src="{{ userProfileImage }}"
        alt="user"
        [matMenuTriggerFor]="profileBlock"
        #trigger="matMenuTrigger"
        (mouseenter)="trigger.openMenu()"
        (mouseleave)="trigger.closeMenu()"
      />
    </div>

    <!-- Post Description -->
    <div class="home__postDescription">
      <!-- Post Header -->
      <div class="home__postDescriptionHeader">
        <!-- Author Name -->
        <div
          class="home__postDescriptionHeaderAuthor"
          (click)="navigateToUserDetails($event)"
        >
          {{ post.name }}
        </div>

        <!-- Verified Icon -->
        <div class="home__postDescriptionHeaderVerified">
          <fa-icon
            class="home__postDescriptionHeaderVerified"
            [icon]="verifiedIcon"
          >
          </fa-icon>
        </div>

        <!-- Author Username -->
        <div class="home__postDescriptionHeaderUsername">
          @{{ post.username }}
        </div>

        <!-- Realative Time when post was added -->
        <div class="home__postDescriptionHeaderTime">
          · {{ post.postTimeDuration }}
        </div>

        <!-- Options Icon -->
        <div class="home__postDescriptionHeaderMoreOption">
          <fa-icon
            (click)="openPostMenu($event)"
            [matMenuTriggerFor]="postMenu"
            class="home__postDescriptionHeaderMoreOptionIcon"
            [icon]="moreIcon"
          >
          </fa-icon>
          <!-- Menu button options -->
          <mat-menu #postMenu="matMenu">
            <button
              mat-menu-item
              *ngIf="checkIfPostBelongsToLoggedUser()"
              (click)="deletePost(post.id)"
            >
              <mat-icon>delete</mat-icon>
              <span>DeletePost</span>
            </button>
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <!-- Post Body -->
      <div class="home__postDescriptionBody">
        <!-- Post Description -->
        <div class="home__postDescriptionBodyText">
          {{ post.description }}
        </div>
        <!-- Post url -->
        <div class="home__postDescriptionBodyImageContainer">
          <ng-container
            *ngIf="retrievedImageFromDb !== this.jpgFormat + 'null'"
          >
            <img
              class="home__postDescriptionBodyImage"
              src="{{ retrievedImageFromDb }}"
              alt=""
              (click)="openFullSizeImageDialog($event)"
            />
          </ng-container>
        </div>
      </div>

      <!-- Post Parameters -->
      <div class="home__postParameters">
        <app-post-parameters
          [postId]="post.id"
          [likesCount]="tweetParams.likesCount"
          [isPostLiked]="isPostLikedByUser"
          [commentCount]="tweetParams.commentCount"
        ></app-post-parameters>
      </div>
    </div>
  </div>
</ng-container>

<mat-menu #profileBlock="matMenu" [hasBackdrop]="false">
  <app-profile-block [username]="post.username"></app-profile-block>
</mat-menu>
