<div class="main__container">
  <!-- Header -->
  <div class="profile__headerSection">
    <!-- Header array icon -->
    <div class="profile__headerSectionArrow">
      <fa-icon
        class="profile__headerSectionArrowIcon"
        [icon]="arrowIcon"
        (click)="navigateBackToHomePage()"
      ></fa-icon>
    </div>
    <!-- Header user name -->
    <div class="profile__headerSectionInfo">
      <div class="profile_headerSectionName">
        {{ userDetailsResponsePayload.name }}
      </div>
      <div class="profile_headerSectioTweets">
        {{ userDetailsResponsePayload.tweetNo }} Tweets
      </div>
    </div>
  </div>
  <!-- Image -->
  <div class="profile__imageSection">
    <!-- Background Image -->
    <div class="profile__imageSectionBackground">
      <img
        style="width: 618px; height: 220px"
        src="{{ userBackgroundPicture }}"
        alt="user"
      />
    </div>
    <!-- Accont image and button -->
    <div class="profile__imageSectionAccount">
      <div class="profile__imageSectionAccountImage">
        <img
          style="
            width: 160px;
            height: 160px;
            border-radius: 100%;
            border: 4px solid white;
          "
          src="{{ userProfilePicture }}"
          alt="user"
        />
      </div>

      <!-- Section for logged user or not -->
      <ng-container
        *ngIf="username === loggedUser; then profileBlock; else userBlock"
      ></ng-container>

      <!-- If profile belongs to logged user -> show edit profile button -->
      <ng-template #profileBlock>
        <div class="profile__imageSectionAccountEdit">
          <button (click)="openEditProfileDialog()">Edit profile</button>
        </div>
      </ng-template>

      <!-- If profile doesn't belong to logged user -> show follow button button -->
      <ng-template #userBlock>
        <div class="profile__imageSectionAccountFollow">
          <!-- Notification Icon -->
          <fa-icon
            class="profile_followIcons"
            [icon]="notificationIcon"
          ></fa-icon>

          <!-- Menu button -->
          <fa-icon
            class="profile_followIcons"
            [icon]="moreIcon"
            mat-icon-button
            [matMenuTriggerFor]="profileMenu"
          ></fa-icon>

          <!-- Menu options -->
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="startConversation()">
              <mat-icon>message</mat-icon>
              <span>Start conversation</span>
            </button>
            <button mat-menu-item>
              <mat-icon>report</mat-icon>
              <span>Report user</span>
            </button>
          </mat-menu>

          <!-- State of follow button -->
          <ng-container
            *ngIf="
              isUserProfileFollowed;
              then followedUser;
              else unfollowedUser
            "
          ></ng-container>
          <!-- If user is folowed and user wants to unfollow him -->
          <ng-template #followedUser>
            <button class="unfollowButton" (click)="unfollowUser()">
              Unfollow
            </button>
          </ng-template>
          <!-- If user is unfolowed and user wants to follow him -->
          <ng-template #unfollowedUser>
            <button class="followButton" (click)="followUser()">Follow</button>
          </ng-template>
        </div>
      </ng-template>
    </div>
    <!-- Account name -->
    <div class="profile__imageSectionInfo">
      <div class="profile__imageSectionInfoName">
        {{ userDetailsResponsePayload.name }}
      </div>
      <div class="profile__imageSectionInfoUsername">
        @{{ userDetailsResponsePayload.username }}
      </div>
    </div>
  </div>
  <!-- Description -->
  <div class="profile__descriptionSection">
    <!-- Description user info -->
    <div class="profile__descriptionSectionUserInfo">
      Some user's informations Some user's informations Some user's informations
      Some user's informations Some user's informations Some user's informations
      Some user's informations Some user's informations Some user's informations
      Some user's informations Some user's informations Some user's informations
      Some user's informations Some user's informations Some user's informations
    </div>
    <!-- Desctiption Data -->
    <div class="profile_descriptionSectionDate">
      <fa-icon
        class="profile_descriptionSectionDateIcon"
        [icon]="calendarIcon"
      ></fa-icon>
      Joined {{ userDetailsResponsePayload.createdAt | titlecase }}
    </div>
    <!-- Description parameters -->
    <div class="profile__descriptionSectionParams">
      <div class="profile__descriptionSectionParamsFollowing">
        <a (click)="openFollowingDialog()">
          <strong>{{ userDetailsResponsePayload.followingNo }}</strong>
          Following
        </a>
      </div>

      <div class="profile__descriptionSectionParamsFollowers">
        <a (click)="openFollowerDialog()">
          <strong>{{ userDetailsResponsePayload.followerNo }}</strong>
          Followers
        </a>
      </div>
    </div>
  </div>
  <!-- Tabs -->
  <mat-tab-group>
    <!-- Tweets -->
    <mat-tab label="Tweets">
      <ng-container *ngFor="let post of postList">
        <app-post [post]="post"></app-post>
      </ng-container>
    </mat-tab>

    <!-- Tweets&Replies -->
    <mat-tab label="Tweets & replies"> Content 2 </mat-tab>

    <!-- Media -->
    <mat-tab label="Media"> Content 3 </mat-tab>

    <!-- Likes -->
    <mat-tab label="Likes">
      <ng-container
        *ngFor="let likedPost of userDetailsResponsePayload.likedPosts"
      >
        <app-post [post]="likedPost" [isPostLikedByUser]="true"></app-post>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
